docx==0.2.4
gower==0.1.2
joblib==1.4.0
kmodes==0.12.2
kneed==0.8.5
matplotlib==3.8.4
numba==0.60.0
numpy==2.2.1
openai==1.58.1
pandas==2.2.3
plotly==5.21.0
python_docx==1.1.2
scikit_learn==1.4.2
scipy==1.14.1
seaborn==0.13.2
statsmodels==0.14.2
streamlit==1.40.1
tqdm==4.66.2
